body{
    width: 100vw;
    height: 100vh;
}


#board{
    display:flex;
    
}
.Headpart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.Timer{

}
.box{
    width: 75px;
    height: 75px;
    border:1px solid black;
    background-color: rgb(212,250,76);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor : pointer;
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}
.box-valid{
background-color: #ccc;
color: #aaa;
transform: scale(0.8);
}

.box.error{
    color: rgb(144, 58, 58);
    background-color: rgb(253, 145, 179);
}
.box.success{
    color: rgb(11, 138, 22);
    background-color: rgb(172, 251, 172);
}
.box.notice{
    color: rgb(18, 16, 151);
    background-color: rgb(151, 200, 255);
    cursor: not-allowed;
}


@keyframes appear{  /* appear permettra au chargement de la page de faire apparaitre les box en tournoyant et zoomant légèrement*/
    from{
        transform: scale(0) rotate(180deg)
    }
    to{
        transform: scale(1) rotate(0deg)
    }
}