#board{
    display:flex;
}
.box{
    width: 75px;
    height: 75px;
    border:1px solid black;
    background-color: rgb(212,250,76);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    border-radius: 6px;
    cursor : pointer;
    transition: background-color 0.8s, color 0.8s, transform 0.8s;
}
.box-valid{
background-color: #ccc;
color: #aaa;
transform: scale(0.8);
}

@keyframes appear{  /* appear permettra au chargement de la place de faire apparaitre les box en tournoyant et zoomant légèrement*/
    from{
        transform: scale(0) rotate(180deg)
    }
    to{
        transform: scale(1) rotate(0deg)
    }
}